* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: rgb(230, 230, 230);
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/
.App-link {
  color: #61dafb;
}
